<head>  
    <style>   
      div.left { text-align: left; background: #ffcccc; }  
      div.center { text-align: center; background: #ccffcc; }  
      div.right { text-align: right; background: #ccccff; }  
      div.justify { text-align: justify; background: #ffffcc; }  
    </style>  
</head>

  <div class="center">
      <h2>Knowledge Sharing Portal</h2>
  </div>

  
  <nav>
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Sinhgad Institute</a>
          <!--button mat-stroked-button routerLink="/book-list">List of PreRequisite</button>
          <a routerLink="/projects">Our Projects</a-->
          <button mat-stroked-button routerLink="/projects">Our Projects</button>
          <button mat-stroked-button routerLink="/book-list">List of PreRequisite</button>
          <button mat-stroked-button routerLink="/aboutus">About us</button>
          <!--a routerLink="/aboutus">About Us</a-->
        </div>  
    </div>
    
  </nav>
  

